<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-y grid-padding-x align-center-middle">
      <aside class="branding cell small-auto shrink">
        <p class="powered-text">Powered By</p>
        {% include bridgecrew_footer.svg %}
        <nav class="social-nav grid-x grid-padding-x grid-padding-y align-left">
          <a href="https://twitter.com/bridgecrewio" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/twitter.png" class="social-nav__icon">
          </a>
          <a href="https://www.facebook.com/Bridgecrew-345809279464232" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/facebook.png" class="social-nav__icon">
          </a>
          <a href="https://www.linkedin.com/company/bridgecrew" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/linkedin.png" class="social-nav__icon">
          </a>
          <a href="https://github.com/bridgecrewio/checkov" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/github.png" class="social-nav__icon">
          </a>
        </nav>
      </aside>
      <nav class="footer-nav cell small-shrink medium-8 align-center-middle">
        <ul>
          <li class="footer-li">
            <a href="https://slack.bridgecrew.io/?utm_source=github&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Slack Community</a>
          </li>
          <li class="footer-li">
            <a href="https://bridgecrew.io/about/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">About Bridgecrew</a>
          </li>
          <li class="footer-li">
            <a href="https://bridgecrew.io/platform/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Platform</a>
          </li>
          <li class="footer-li">
            <a href="https://bridgecrew.io/terms-of-use/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Terms of use</a>
          </li>
          <li class="footer-li">
            <a href="https://github.com/bridgecrewio/checkov" class="footer-link">GitHub</a>
          </li>
          <li class="footer-li">
            <a href="https://www.checkov.io/1.Welcome/Quick%20Start.html" class="footer-link">Docs</a>
          </li>
          <li class="footer-li">
            <a href="https://bridgecrew.io/about/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Contact Us</a>
          </li>
          <li class="footer-li">
            <a href="https://bridgecrew.io/privacy-policy/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Privacy policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
