<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-y grid-padding-x align-center-middle">
      <aside class="branding cell small-auto shrink">
        <p class="powered-text">Powered By</p>
        {% include pan-logo-light.svg %}
        <nav class="social-nav grid-x grid-padding-x grid-padding-y align-left">
          <a href="https://x.com/PaloAltoNtwks" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/twitter.png" class="social-nav__icon">
          </a>
          <a href="https://www.facebook.com/PaloAltoNetworks" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/facebook.png" class="social-nav__icon">
          </a>
          <a href="https://www.linkedin.com/company/palo-alto-networks" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/linkedin.png" class="social-nav__icon">
          </a>
          <a href="https://github.com/bridgecrewio/yor" target="_blank" class="cell small-3 social-nav__anchor">
            <img src="{{site.baseurl}}/assets/img/github.png" class="social-nav__icon">
          </a>
        </nav>
      </aside>
      <nav class="footer-nav cell small-shrink medium-8 align-center-middle">
        <ul>
          <li class="footer-li">
            <a href=https://codifiedsecurity.slack.com" class="footer-link">Slack Community</a>
          </li>
          <li class="footer-li">
            <a href="https://www.paloaltonetworks.com/cortex/cloud?utm_source=yorio&utm_medium=organic_oss&utm_campaign=yor" class="footer-link">About Palo Alto Networks</a>
          </li>
          <li class="footer-li">
            <a href="https://www.paloaltonetworks.com/cortex/cloud?utm_source=yorio&utm_medium=organic_oss&utm_campaign=yor" class="footer-link">Cortex Cloud</a>
          </li>
          <li class="footer-li">
            <a href="https://www.paloaltonetworks.com/legal-notices/terms-of-use?utm_source=yorio&utm_medium=organic_oss&utm_campaign=yor" class="footer-link">Terms of use</a>
          </li>
          <li class="footer-li">
            <a href="https://github.com/bridgecrewio/yor" class="footer-link">GitHub</a>
          </li>
          <li class="footer-li">
            <a href="https://www.yor.io/1.Welcome/Quick%20Start.html" class="footer-link">Docs</a>
          </li>
          <li class="footer-li">
            <a href="https://www.paloaltonetworks.com/company/contact-sales?utm_source=yorio&utm_medium=organic_oss&utm_campaign=yor" class="footer-link">Contact Us</a>
          </li>
          <li class="footer-li">
            <a href="https://www.paloaltonetworks.com/legal-notices/privacy?utm_source=yorio&utm_medium=organic_oss&utm_campaign=yor" class="footer-link">Privacy policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
