svg.icon {
  max-height: 17px;
  width: auto;
  max-width: 32px;
  fill: none;
  stroke: $primary-color;
}

.svg-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;

  svg {
    height: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: bottom center;
  }

  @include breakpoint(medium) {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}