.header {
  &-bridgecrew {
    position: relative;
    background: $dark-gray;

    .grid-x {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .utility-nav {
      li {
        a {
          color: $primary-color;
        }

        &.is-dropdown-submenu-parent {
          > a {
            &::after {
              border: 0;
              content: url('/assets/img/arrow.svg');
              width: 12px;
              height: 8px;
              transform: translateY(calc(-50% - 3px));
              right: 0;
            }
          }
        }
      }
    }
  }

  .header-nav {
    min-height: 90px;
    margin-bottom: 1rem;

    .main-nav {
      margin-left: auto;

      .is-dropdown-submenu-parent {
        > a {
          &::after {
            border: 0;
            content: url('/assets/img/arrow.svg');
            width: 12px;
            height: 8px;
            transform: translateY(calc(-50% - 3px));
            right: 0;
          }
        }
      }
    }

    .menu {
      align-items: center;
      justify-content: flex-end;

      .github-stars {
        a {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
        }

        &__count {
          .icon {
            max-height: 12px;
            max-width: 24px;
          }
        }
      }

      .button-container {
        padding: 0.7rem 0 0.7rem 1rem;

        .button {
          padding: 8px 24px;
        }
      }
    }
  }

  .submenu {
    border: 0;
    border-radius: 8px;
  }

  #sticky-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid $white;
    transition: background .1s ease-in-out;

    &.sticky {
      position: fixed;
      top: 0;
      background: $white;
    }

    @include breakpoint(large) {
      top: 70px;
    }

    .logo-wrapper {
      display: block;
      max-width: 175px;
      height: auto;

      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .mobile-nav {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: -100;
    background: $white;
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in;

    &.open {
      opacity: 1;
      z-index: 100;
      height: initial;
    }
  }

  .hamburger {
    margin-left: auto;

    &-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
    }
    .line {
      fill: none;
      stroke: $primary-color;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
  }
}

body.home {
  #sticky-nav {
    &:not(.sticky) {
      .menu {
        a {
          color: $white;

          svg.icon {
            fill: none !important;
            stroke: $white !important;
          }
        }
      }

      .is-dropdown-submenu-parent {
        > a {
          &::after {
            content: url('/assets/img/arrow_white.svg');
          }
        }

        .submenu {
          a {
            color: $primary-color;
          }
        }
      }

      .button {
        &.primary {
          background: $white;
          color: $primary-color;
          border: 1px solid $white;

          &:hover {
            background: $dark-gray;
          }
        }
        &.gray {
          background: transparent;
          color: $white;
          border: 1px solid $white;

          &:hover {
            background: $white;
            color: $primary-color;
          }
        }
      }

      .logo-wrapper {
        svg {
          path {
            fill: $white;
          }
        }
      }

      .hamburger-button {
        .line {
          stroke: $white;
        }
      }
    }
  }
}