<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    {% include head.html %}

</head>

<body class="wy-body-for-nav" role="document">

{% include header.html %}

<div class="wy-grid-for-nav">

    {%- comment %} SIDE NAV, TOGGLES ON MOBILE {% endcomment %}
    <!--    <nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">-->
    <!--        <div class="wy-side-scroll">-->
    <!--            <div class="wy-side-nav-search">-->
    <!--                {% unless site.search_enabled == false %}{% include searchbox.html %}{% endunless %}-->
    <!--            </div>-->

    <!--            -->
    <!--        </div>-->
    <!--    </nav>-->
    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell small-12 medium-3">
                    <div class="docs-menu">
                        <nav class="docs-menu__wrap" data-spy="affix" aria-label="Documentation navigation">
                            <h3 class="docs-menu__heading h4"><a href="/documentation">Checkov Documentation</a></h3>
                            {% include docs-menu.html %}
                        </nav>
                    </div>
                </div>
                <div class="cell small-12 medium-9 docs-content">
                    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
                        {%- comment %} PAGE CONTENT {% endcomment %}
                        <div class="nav-content">
                            <div class="content">
                                <div class="content-container">
                                    {% include breadcrumbs.html %}
                                    <div role="main">
                                        <div class="section">
                                            {{ content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</div>

{% include footer.html %}

<script>var base_url = '{{ baseurl }}';</script>
<!--<script src="{{ 'assets/js/jquery-2.1.1.min.js' | absolute_url }}" defer></script>-->
<!--<script src="{{ 'assets/js/modernizr-2.8.3.min.js' | absolute_url }}" defer></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<!--<script src="{{ 'assets/js/theme.js' | absolute_url }}" defer></script>-->
<!--<script src="{{ 'assets/js/script.js' | absolute_url }}" defer></script>-->
<script type="text/javascript" defer>
    hljs.initHighlightingOnLoad();
    // window.addEventListener('load', function() {
    //     SphinxRtdTheme.Navigation.enable({{ site.sticky_navigation | default: 'false' }});
    // });

</script>

<!-- Build Date: {{ site.time | date: "%Y-%m-%d %H:%M" }} -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "type": "opt-in",
            "content": {
                "href": "https://bridgecrew.io/privacy-policy/"
            },
            onInitialise: function (status) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', '{{ site.google_analytics }}');
                }
            },

            onStatusChange: function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    // enable cookies
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', '{{ site.google_analytics }}');
                }
            },

            onRevokeChoice: function() {
                var type = this.options.type;
                if (type == 'opt-in') {
                    // disable cookies
                    clearCookie('_ga','.mysite.fr','/');
                    clearCookie('_gat_gtag_{{ site.google_analytics }}','.mysite.fr','/');
                    clearCookie('_gid','.mysite.fr','/');
                    // Get an array of cookies
                    var arrSplit = document.cookie.split(";");
                    for(var i = 0; i < arrSplit.length; i++)
                    {
                        var cookie = arrSplit[i].trim();
                        var cookieName = cookie.split("=")[0];
                        // If the prefix of the cookie's name matches the one specified, remove it
                        if(cookieName.indexOf("ssupp.") === 0) {
                            // Remove the cookie
                            document.cookie = cookieName + "=; Max-Age=-99999999;";
                        }
                    }
                }
            },
        }
    )
    ;
</script>
</body>
</html>
